---
import SplitCard from './SplitCard.astro';
import CountdownSpan from './CountdownSpan.astro';
---

<SplitCard title="Capture The Flag" icon="laptop">
  <div>
    CTF Hacking France propose des Capture The Flag (CTF) communautaires gratuits, ouverts à tous les passionnés de cybersécurité. Ces défis en ligne permettent aux participants, quel que soit leur niveau, de tester et d'améliorer leurs compétences en hacking éthique dans un environnement convivial et éducatif. Que vous soyez débutant ou expert, rejoignez la communauté pour relever des défis stimulants et échanger avec d'autres passionnés de sécurité informatique.
  </div>
  <div>
    Prochains événements : <b><CountdownSpan /></b>
    <br />
    Voir <a href="/events/ctf">Inscription au CTF</a>.
    <br />
    Le précédent CTF comptait plusieurs dizaines de participants, et a été remporté par <a href="https://cyberretta.github.io/">Cyberretta</a>.
  </div>
</SplitCard>
