---
import Card from './Card.astro';
---

<Card title="Événements" icon="rocket">
  Hacking France organise des événements réguliers pour la communauté, voir les <a href="/events/talks">événements planifiés</a>.
</Card>
