---
import Card from './Card.astro';
---

<Card title="Talks" icon="comment-alt">
  Regardez les <a href="/events/talks">talks</a> sur des sujets : Red Team, Forensics, optimisation d'OS et plus, par la communauté.
</Card>
